* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}

body {
  background-color: black;
}

ul {
  list-style: none;
}

.coinlist-image {
  width: 50px;
}

@media screen and (max-width: 768px) {
  .coinlist-image {
   width: 25px;
  }
}

.mkt {
  display: block;
}

@media screen and (max-width: 768px) {
  .mkt {
    display: none;
  }
}




.coinlist-item {
  display: flex;
}

.coinsummary {
  border-color:black !important;
  border-style: outset !important;
}

.coin-data-category {
  font-size: 10px;
}

.delete-icon {
  display: none;
  position: absolute;
  right: 6px;
}

.coin:hover .delete-icon {
  display: block;
}
